@charset "utf-8";
// Label base style
@import "spectre/variables";
@import "spectre/mixins/labels";
@import "spectre/mixins/shadow";
@import "spectre/mixins/button";
@import "spectre/layouts";
@import "spectre/labels";
@import "spectre/modal";
@import "spectre/buttons";

.header-image-aside {
  padding-top: 3rem;
  // padding-left: 0px;
  position: fixed;
  max-width: 426px !important;
  // margin-left: 0.5rem;
  // padding-left: 2.5rem;
}

body.dark #label-light {
  vertical-align:middle;
  display:none
}
  body:not(.dark) #label-dark {
  display:none
}

#inline-logo {
  // margin: -20px -20px 0 -20px;
  // max-width: 100vw! important;
  // max-height: 90vh;
  margin-top: -20px;
}

.float-right {
  float: right;
}

.framadate {
  font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
}

.framadate-violet {
  color: #725794;
}

.framadate-vert {
  color: #6c7e31;
}

.post-title > svg {
  height: 70px;
}

.breadcrumbs {
  margin-bottom: 1rem;
}

.service-link {
  font-size: 17px;
  color: var(--secondary);
}

.post-header > .post-tags {
  margin-top: 12px;
  li.replacements {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 34px;
    background: var(--code-bg);
    border-radius: var(--radius);
    border: 1px solid var(--border);
  }
  li:first-child {
    margin-left: 6px;
  }
}

.font-larger {
  font-size: 20px!important;
  line-height: 40px!important;
}

.entry-cover {
  position: absolute;
  right: 10px;
  top: 10px;
  top: 50%;
  transform: translateY(-50%);
  > img {
    max-height: 70px;
    width: auto;
    margin-right: auto;
  }
}

svg {
  max-width: 100%;
}

.width-buffer-for-icon {
  width: calc(100% - 75px);
}

.main {
  padding: var(--gap) 8px;
}

svg.codeberg-icon-blue {
  display: none;
}

body:not(.dark) svg.codeberg-icon-blue {
  display: inline-block;
}

svg.codeberg-icon-white {
  display: none;
}

body.dark svg.codeberg-icon-white {
  display: inline-block;
}

a.bot {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
