// Component focus shadow
@mixin control-shadow($color: $primary-color) {
    box-shadow: 0 0 0 .1rem rgba($color, .2);
  }

  // Shadow mixin
  @mixin shadow-variant($offset) {
    box-shadow: 0 $offset ($offset + .05rem) * 2 rgba($dark-color, .3);
  }