<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="wrapper container grid-xl
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print " list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    <div class="columns">
        <div class="column col-4 hide-md header-image-aside">
            {{- partial "header_image.html" . }}
        </div>
        <div class="column col-8 col-ml-auto col-md-12 main-wrapper">
            {{- partialCached "header.html" . .Page -}}
            <main class="main">
                {{- block "main" . }}{{ end }}
            </main>
            {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
        </div>
    </div>
</body>

</html>