{{- define "main" }}

<article class="post-single">
  <header class="post-header">

    {{ partial "breadcrumbs.html" . }}

    {{- if isset .Params "link" }}
      <a href="{{ .Params.link }}" target="_blank">
    {{- end }}
    <h1 class="post-title">
      {{- if .Params.label.name }}
        {{ partial "label.html" .Params.label }}
      {{- else }}
        {{- if not .Params.name.replacesTitle }}
          {{- .Title }}
        {{- end }}
        {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
      {{- end }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if isset .Params "link" }}
    <span class="service-link">&#10551; {{ .Params.link }}</span></a>
    {{- end }}

    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}

    {{- if (.Param "replaces" ) }}
    <ul class="post-tags">
      Alternative zu:
      {{ range (.Param "replaces" ) }}
      <li class="replacements">{{ . }}</li>
      {{- end }}
    </ul>
    {{- end }}

    {{- if not (.Param "hideMeta") }}
    <!-- Moved the meta section to the bottom -->
    <!-- <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div> -->
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
  <div class="post-meta">
    {{- partial "post_meta.html" . -}}
    {{- partial "translation_list.html" . -}}
    {{- partial "edit_post.html" . -}}
    {{- partial "post_canonical.html" . -}}
  </div>
</article>

{{- end }}{{/* end main */}}
