<div class="modal" id="credits">
    <a href="#close" id="closecredits1" class="modal-overlay"  aria-label="Close"></a>
    <div class="modal-container">
        <h1 class="modal-header">
        <a href="#close" id="closecredits2" class="btn btn-clear float-right" aria-label="Close"></a>
        </h1>
        <div class="modal-body">
            <h2>Credits</h2>
            <p>
                <ul>
                    <li>Auschnitt der Uhr im Logo: Foto von <a href="https://de.wikipedia.org/wiki/Grazer_Uhrturm#/media/Datei:Graz_I_Innere_Stadt_Uhrturm_2.jpg" target="_blank">Andreas E. Neuhold</a></li>
                    <li>Logo: @ 2020 Nadja Wrisk</li>
                    <li>Chat: <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a> from <a title="Flaticon" href="https://www.flaticon.com">www.flaticon.com</a> is licensed by <a title="Creative Commons BY 3.0" href="https://creativecommons.org/licenses/by/3.0/">CC 3.0 BY</a></li>
                </ul>
            </p>
            <h2>Verwendete Tools</h2>
            <p>
                <ul>
                    <li><a href="https://gohugo.io/" rel="noopener noreferrer" target="_blank">Hugo</a></li>
                    <li>Grundlage des Themes: <a href="https://github.com/adityatelange/hugo-PaperMod/" rel="noopener" target="_blank">PaperMod</a></li>
                    <li>Teile des <a href="https://picturepan2.github.io/spectre" target="_blank">spectre.css</a>-Frameworks </li>
                </ul>
            </p>
        </div>
        <div class="modal-footer">
            Aller Inhalt dieser Seite steht unter <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC BY-SA 3.0</a>
        </div>
    </div>
</div>

<script>
    document.getElementById("openmodal").addEventListener("click", function (e) {
        document.getElementById("credits").classList.add("active");
    });
    document.getElementById("closecredits1").addEventListener("click", function (e) {
        document.getElementById("credits").classList.remove("active");
    });
    document.getElementById("closecredits2").addEventListener("click", function (e) {
        document.getElementById("credits").classList.remove("active");
    });
</script>
