{{/* Einkommen bis 1. Jänner 2022 */}}
{{ $donations := 704.54 }}

{{/* Ausgaben bis 1. Jänner 2022 */}}
{{ $expenses := 503.80 }}

{{/* Berechnen der Gesamteinnahmen */}}
{{ range $i, $r := getCSV "," "/assets/finanzen/spenden.csv" }}
  {{ if ne $i 0 }}
    {{ $donation := float (index $r 1) }}
    {{ $donations = (add $donations $donation) }}
  {{ end }}
{{ end }}


{{/* Berechnen der Gesamtausgaben */}}
{{ range $i, $r := getCSV "," "/assets/finanzen/ausgaben.csv"}}
  {{ if ne $i 0 }}
    {{ $expense := float (index $r 1 )}}
    {{ $expenses = (add $expenses $expense) }}
  {{ end }}
{{ end }}

{{ $balance := sub $donations $expenses }}

{{/* Berechnen des letzten Datums */}}
{{ $dates := slice }}
{{  range $i, $r := getCSV "," "/assets/finanzen/spenden.csv" }}
  {{ if ne $i 0 }}
    {{ $date := index $r 0 }}
    {{ $dates = $dates | append $date }}
  {{ end }}
{{ end }}
{{  range $i, $r := getCSV "," "/assets/finanzen/ausgaben.csv" }}
  {{ if ne $i 0 }}
    {{ $date := index $r 0 }}
    {{ $dates = $dates | append $date }}
  {{ end }}
{{ end }}
{{ range $i, $r := sort $dates "" "desc" }} 
  {{ if eq $i 0 }}
    <p>Stand zum {{ time.Format "2. January 2006" (index $r) }}</p>
  {{ end }}
{{ end }}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Spenden</th>
            <th>Ausgaben</th>
            <th>Bilanz</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ lang.NumFmt 2 $donations "- , ." }}&#8239;€</td>
            <td>{{ lang.NumFmt 2 $expenses "- , ." }}&#8239;€</td>
            <td style="text-align:left">
                {{ if gt $balance 0 }}
                    <span class="label label-success">+
                {{ else }}
                    <span class="label label-error">
                {{ end }}
                {{ lang.NumFmt 2 $balance "- , ." }}&#8239;€</span>
            </td>
        </tr>
    </tbody>
</table>
