<table class="table  table-striped table-hover">
    {{ $donations := "/assets/finanzen/spenden.csv" }}
    {{ $seperator := "," }}
    {{ range $i, $r := getCSV $seperator $donations }}
      {{ if eq $i 0 }}
        <thead>
          <tr>
            <th style="text-align:left">Zahlungsart</th>
            <th style="text-align:left">Zeichen</th>
            <!-- <th style="text-align:center">Regelmäßig</th> -->
            <th style="text-align:right">Datum</th>
            <th style="text-align:right">Betrag</th>
          </tr>
        </thead>
      <tbody>
      {{ end }}
      {{ if ne $i 0 }}
        <tr>
          <td style="text-align:left">{{ index $r 3 }}</td>
          <td style="text-align:left">{{ index $r 4 }}</td>
          <!-- <td style="text-align:center">{{ index $r 2 }}</td> -->
          <td style="text-align:right">{{ time.Format "2.1.2006" (index $r 0) }}</td>
          <td style="text-align:right">{{ lang.NumFmt 2 (index $r 1) "- , ." }}&#8239;€</td>
        </tr>
      {{ end }}
    {{ end }}
    </tbody>
</table>
