{{ $type := .Get 0 }}

{{ range where .Site.Pages "Section" "dienste" }}
    {{ range .Pages }}
        {{ if (eq (.Param "type") $type) }}
        <article>
                {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
                    {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
                <header class="entry-header">
                    <h2>
                    {{- .Title }}
                    {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
                    </h2>
                </header>
                {{- if (ne (.Param "hideSummary") true) }}
                <div class="entry-content">
                    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
                </div>
                {{- end }}
                <!-- {{- if not (.Param "hideMeta") }}
                <footer class="entry-footer">
                    {{- partial "post_meta.html" . -}}
                </footer>
                {{- end }} -->
                <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
            </article>
        {{- end }}
    {{- end }}
{{- end }}
